body {
	background: #333;	
}

.dropdownmenu ul, 
.dropdownmenu li {
	margin: 0;
	padding: 0;
}

.dropdownmenu ul {
	background: grey;
	list-style: none;
	width: 100%;
}

.dropdownmenu li {
	float: left;
	position: relative;
	width: auto;
}

.dropdownmenu a {
	background: #30a6e6;
	color: white;
	display: block;
	font-weight: 400px;
	font: 13px;
	font-family: 'Poppins',sans-serif;
	padding: 15px 55px;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease;
}

.dropdownmenu li:hover a {
	background: #34495e;
}

/* Submenu Starts Here */

.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 25px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul.submenu {
	opacity: 1;
	top: 80px;
	visibility: visible;
}

.submenu li {
	float: none;
	width: 100%;
}

.submenu a:hover {
	background: #df4b05;
}

.submenu a {
	background-color: #34495e;
}

/* "Get Started" Menu */

.get-started {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 25px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul.get-started {
	opacity: 1;
	top: 80px;
	visibility: visible;
}

.get-started li {
	float: none;
	width: 100%;
}

.get-started a:hover {
	background: #df4b05;
}

.submenu a {
	background-color: #34495e;
}